@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

:root {
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavander: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --font: 'Hanken Grotesk', sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    font-family: var(--font);
}

.container {
    max-width: 36rem;
    display: flex;
}

.div-blue {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 3rem;
    border-radius: 1.5rem;
}

.div-blue h5 {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    opacity: .75;
}

.circle {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),  hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.circle p {
    color: var(--white);
    font-size: 3rem;
    font-weight: 800;
}

.circle small {
    color: var(--white);
    opacity: .5;
}

#great {
    color: var(--white);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#small {
    color: var(--white);
    font-weight: 500;
    opacity: .65;
}

.div-white {
    width: 50%;
    padding: 2rem 2rem;
    border-radius: 0 1.5rem 1.5rem 0;
    box-shadow: 20px 20px 25px var(--pale-blue);
}

.div-white h5 {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--dark-gray-blue);
    margin-bottom: 2rem;
}

.div-white button {
    background-color: var(--dark-gray-blue);
    margin-top: 2.5rem;
    padding: .8rem 0;
    border-radius: 2rem;
    color: var(--white);
    font: inherit;
    font-size: .9rem;
    transition: .4s ease-in-out;
}

.div-white button:hover {
    background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.values {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.icon {
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    border-radius: .3rem;
}

.icon.red {
    background-color: hsl(0, 100%, 67%, .1);
    color: var(--light-red);
}

.icon.yellow {
    background-color:  hsl(39, 100%, 56%, .1);
    color: var(--orange-yellow);
}

.icon.green {
    background-color: hsl(166, 100%, 37%, .1);
    color: var(--green-teal);
}

.icon.blue {
    background-color: hsl(234, 85%, 45%, .1);
    color: var(--cobalt-blue);
}

.icon>div img {
    margin-right: 1rem;
}

#reaction, #memory, #verbal, #visual {
    display: flex;
}

.grade {
    color: var(--dark-gray-blue);
}

.grade p {
    font-weight: 800;
}

.grade span {
    color: hsl(224, 30%, 27%, .5);
    font-weight: 800;
}

@media (max-width: 675px) {
   .container {
    flex-direction: column;
    align-items: center;
   }

   .div-blue {
    border-radius: 0 0 1.5rem 1.5rem;
    width: 345px;
   }

   .div-blue h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
   }

   .circle {
    width: 7rem;
    height: 7rem;
    margin-bottom: 1rem;
   }

   #great {
    margin-bottom: .5rem;
   }

   .div-white {
    width: 345px;
    border-radius: 0;
   }
}











